.nav {
  position: absolute;
  top: 8%;
}

.menu {
  color: #4682B4;
}

.shopping-cart {
  color: #4682B4;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: 400px;
  }
}
