.nav {
  position: absolute;
  top: 10%;
}

.menu {
  color: 	#F0FFFF;
}

.shopping-cart {
  color: 	#F0FFFF;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    
  }
}
